<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <!--<add name="DBConnectionString" connectionString="Data Source=DESKTOP-GPD0VI3;Initial Catalog=MeritProductionQA;Integrated Security=true" providerName="System.Data.SqlClient" />-->
    <!--<add name="DBConnectionString" providerName="System.Data.SqlClient"
         connectionString="Data Source=DESKTOP-1VBR6G8;Initial Catalog=MeritProductionQA;User ID=sa;Password=12345678" />-->
    <add name="DBConnectionString" providerName="System.Data.SqlClient"
         connectionString="Data Source=172.16.10.155;Initial Catalog=MeritProductionQA;User ID=gemvietnam-dev;Password=@bc123456789" />
  </connectionStrings>
  <appSettings>
    <add key="PathFolder" value="D:" />
    <add key="FileName" value="BarcodeRealRaw - warning_20170622,24,25_mix_import file.csv" />
    <add key="Interval" value="30000" />
    <add key="HostMail" value="smtp.gmail.com" />
    <add key="PortMail" value="587" />
    <add key="SendFrom" value="ducpm@gemvietnam.com" />
    <add key="PassMail" value="tinhanhdo@123" />
    <add key="SendTo" value="ducpm.d37@gmail.com" />
    <add key="TimeRun" value="163000" />
    <!--Time start-->
    <add key="TimeRun" value="16" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>